* {
    box-sizing: border-box;
}

body {
    width: 450px;
    margin: 0;

    background: var(--background);
    color: var(--foreground);
    transition: background 0.2s linear;
}

body::-webkit-scrollbar {
    display: none;
}

.main {
    min-height: 300px;
}

h2 {
    margin: 0;
}

:root {
    --primary-pink--100: rgba(90, 24, 154, 1);
    --primary-pink--75: rgba(90, 24, 154, 0.75);
    --primary-pink--50: rgba(90, 24, 154, 0.5);
    --primary-pink--20: rgba(90, 24, 154, 0.2);
    --primary-pink--10: rgba(248, 237, 235, 1);

    --primary-gray--100: rgba(108, 117, 125, 1);
    --primary-gray--50: rgba(206, 212, 218, 1);
    --primary-gray--20: rgba(233, 236, 239, 1);
    --text-color: #656566;
    --primary-white: rgb(248, 249, 250);
    --primary-dark: rgb(20, 20, 20);

    --darkMode: rgba(90, 24, 154, 1);
    --button-background: rgb(244, 140, 6);

    --foreground: var(--primary-pink--100);
    --background: var(--primary-white)
}

.col {
    padding-right: 10px;
}

::placeholder {
    opacity: 0.3;
    /* Firefox */
}

.row {
    margin: 24px auto;
}

/* First Row */
.greeting {
    display: flex;
    justify-content: space-between;
}

.profile_image {
    width: 56px;
    height: 56px;
    background-image: url("./images/Logo128.png");
    background-size: cover;
    background-position: center;
    border: 2px solid var(--primary-gray--50);
    border-radius: 50%;
    margin-right: 12px;
}

.profile_container {
    display: flex;
    align-items: center;
}

.greeting__type {
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-pink--100);
}

.greeting__title {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.greeting__title i {
    font-size: 0.8rem;
    color: var(--text-color);
    border: 1.5px solid var(--text-color);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.2s ease-in;
}

.greeting__title:hover i {
    opacity: 1;
}

.greeting__name {
    font-size: 24px;
    color: var(--text-color);
    margin-right: 8px;
    font-weight: 600;
}

.info_container {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

#greeting__image {
    width: 35px;
    height: 35px;
    margin-right: 8px;
}

.info_container_time {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
}

.info_container_day {
    font-size: 2rem;
    font-weight: 500;
}

.info_container_date {
    font-size: 0.9rem;
    font-weight: 400;
}


/* Second Row ********************************************************************************/
.actionInput {
    display: flex;
    flex-direction: column;
}

.addAction {
    font-size: 16px;
    color: var(--text-color);
    font-weight: 600;
}

.btn.btn-outline-primary * {
    pointer-events: none;
}

.actionInput_shortLink .btn.btn-outline-primary {
    font-size: 12px;
    font-weight: 600;
    color: var(--primary-gray--50);
    border-color: var(--primary-pink--50);
    padding: 0.3rem 0.5rem;

    transition: all 0.3s ease-in-out;
}

.actionInput_shortLink .btn.btn-outline-primary:hover {
    background-color: var(--primary-pink--100);
    color: var(--primary-white);
}

.actionInput_shortLink .btn-outline-primary:focus {
    box-shadow: none;
}

.actionInput_shortLink .btn-outline-primary:not(:disabled):not(.disabled).active,
.actionInput_shortLink .btn-outline-primary:not(:disabled):not(.disabled):active,
.actionInput_shortLink .show>.btn-outline-primary.dropdown-toggle {
    color: var(--primary-white);
    background-color: var(--primary-pink--100);
    border-color: var(--primary-pink--100);
}

.actionInput_textarea {
    width: 286px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid var(--primary-gray--50);
    align-items: center;
    padding: 8px;
    color: var(--primary-gray--20);
    margin-bottom: 6px;
    background-color: var(--primary-gray--20);
}

.actionInput_textarea input {
    width: 100%;
    outline: none;
    background: transparent;
    border: none;
    font-size: 14px;

}

.actionInput_container {
    display: flex;
    align-items: center;
}

.actionInput_input {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
}

.progressContainer {
    display: flex;
    justify-content: center;
}

/* Third Row ********************************************************************************/
.actionItem_items {
    width: 100%;
}

.actionItem_container {
    position: relative;
    padding: 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    border: 1px solid var(--primary-pink--100);
    border-radius: 8px;
    min-height: 3rem;
    font-size: 14px;
    overflow: hidden;

    transition: all 0.2s ease-in;
    transition-property: box-shadow, transform;
}

.actionItem_container:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 5px -2px #ccc;
}

.actionItem_container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    background-color: var(--primary-pink--10);

    transition: right 0.5s ease;

}

.actionItem_container.completed::before {
    right: 0;
}

/* .actionItem_container.completed {
    background-color: var(--primary-pink--20);
} */

.actionItem_container.completed .action_item_checkBox {

    background-color: var(--primary-pink--75);
    color: var(--primary-white);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
}

.actionItem_container.completed .action_item_checkBox i {
    opacity: 1;
}

.actionItem_item {
    display: flex;
    color: var(--text-color);
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.action_item_checkBox {
    border: 1px solid var(--primary-pink--100);
    border-radius: 4px;
    padding: 1px 4px;
    color: var(--primary-pink--100);
    cursor: pointer;
}

.action_item_checkBox * {
    pointer-events: none;
}

.action_item_delete * {
    pointer-events: none;
}

.action_item_delete:hover {
    color: red;
}

.action_item_checkBox:hover i {
    opacity: 1;
}

.action_item_checkBox i {
    opacity: 0;
}

.action_item_delete {
    cursor: pointer;
}

.action_item_content {
    flex: 1;
    word-wrap: break-word;
    margin-left: 14px;
}

.actionItem_container a {
    color: rgba(101, 101, 102, 1);
    text-decoration: none;
    font-size: 12px;
}

.actionItem_shortLink {
    border: 1px solid var(--primary-pink--50);
    background-color: var(--primary-white);
    border-radius: 4px;
    display: flex;
    padding: 4px 6px;
    margin-top: 8px;
    align-items: center;
    z-index: 100;

    transition: all 0.2s ease-in-out;
}

.actionItem_shortLink:hover {
    background-color: var(--primary-pink--20);
    border: 1px solid var(--primary-pink--100);
}

.actionItem_shortLink a {
    display: flex;
    overflow: hidden;
}

.actionItem_favIcon {
    flex-basis: 20px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.actionItem_favIcon img {
    max-height: 20px;
}

.actionItem_title {
    margin-left: 12px;
    transition: all 0.2s ease;
}

.actionItem_title span {
    text-overflow: ellipsis;
    white-space: nowrap;
}

#addItemForm {
    display: none;
    opacity: 0;
}

.addAction-items {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.addAction-items i {
    margin-left: 8px;
    cursor: pointer;
}

.buttonList-control {
    margin-bottom: 4px;
}