body {
    width: 450px;
    min-height: 300px;
    margin: 0;
}

h2 {
    margin: 0;
}

::placeholder {
    opacity: 0.3;
    /* Firefox */
}

.row {
    margin: 24px auto;
}

/* First Row */
.greeting {
    display: flex;
    justify-content: space-between;
}

.profile_image {
    width: 56px;
    height: 56px;
    background-image: url("./images/Logo128.png");
    background-size: cover;
    background-position: center;
    border: 2px solid #9F9F9F;
    border-radius: 50%;
    margin-right: 12px;
}

.profile_container {
    display: flex;
    align-items: center;
}

.greeting__type {
    font-size: 18px;
    font-weight: 500;
    color: #A252F1;
}

.greeting__name {
    font-size: 24px;
    color: #656566;
    font-weight: 600;
}

.info_container {
    display: flex;
    flex-direction: column;
    color: #656566;
}

#greeting__image {
    width: 35px;
    height: 35px;
    margin-right: 8px;
}

.info_container_time {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
}

.info_container_day {
    font-size: 2rem;
    margin-left: 8px;
    font-weight: 500;
}

.info_container_date {
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 8px;
}


/* Second Row ********************************************************************************/
.actionInput {
    display: flex;
    flex-direction: column;
}

.addAction {
    font-size: 16px;
    color: #656566;
    font-weight: 600;
    margin-bottom: 8px;
}

.actionInput_shortLink {
    display: flex;
    justify-content: space-between;
}

.actionInput_shortLink .btn.btn-outline-primary {
    font-size: 12px;
    font-weight: 600;
    color: rgba(101, 101, 102, 0.5);
    border-color: #A252F1;
    padding: 0.3rem 0.5rem;

    transition: all 0.3s ease-in-out;
}

.actionInput_shortLink .btn.btn-outline-primary:hover {
    background-color: #A252F1;
    color: white;
}

.actionInput_shortLink .btn-outline-primary:focus {
    box-shadow: none;
}

.actionInput_shortLink .btn-outline-primary:not(:disabled):not(.disabled).active,
.actionInput_shortLink .btn-outline-primary:not(:disabled):not(.disabled):active,
.actionInput_shortLink .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #A252F1;
    border-color: #A252F1;
}

.actionInput_textarea {
    background-color: rgba(252, 243, 255, 1);
    width: 286px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid rgba(162, 82, 241, 0.15);
    align-items: center;
    padding: 8px;
    color: rgba(101, 101, 102, 0.5);
    margin-bottom: 6px;
}

.actionInput_textarea input {
    width: 100%;
    outline: none;
    background: transparent;
    border: none;
    font-size: 14px;

}

.actionInput_container {
    display: flex;
}

.actionInput_input {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.actionInput_shortLink {
    display: flex;
}

.progressContainer {
    display: flex;
    justify-content: center;
}

/* Third Row ********************************************************************************/
.actionItem_items {
    width: 100%;
}

.actionItem_container {
    padding: 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    border: 1px solid rgba(162, 82, 241, 0.15);
    border-radius: 8px;
    min-height: 3rem;
    font-size: 14px;
}

.actionItem_container.completed {
    background-color: #d8b1ff;
}

.actionItem_container.completed .action_item_checkBox {
    background-color: #A252F1;
    color: whitesmoke;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
}

.actionItem_container.completed .action_item_checkBox i {
    opacity: 1;
}

.actionItem_item {
    display: flex;
    color: #656566;
    align-items: center;
    justify-content: space-between;
}

.action_item_checkBox {
    border: 1px solid #A252F1;
    border-radius: 4px;
    padding: 1px 4px;
    color: #A252F1;
    cursor: pointer;
}

.action_item_checkBox * {
    pointer-events: none;
}

.action_item_checkBox:hover i {
    opacity: 1;
}

.action_item_checkBox i {
    opacity: 0;
}

.action_item_delete {
    cursor: pointer;
}

.action_item_content {
    flex: 1;
    word-wrap: break-word;
    margin-left: 14px;
}

.actionItem_shortLink {
    border: 1px solid rgba(162, 82, 241, 0.15);
    border-radius: 4px;
    display: flex;
    padding: 4px 6px;
    margin-top: 8px;

    display: none;
}

.actionItem_shortLink a {
    color: rgba(101, 101, 102, 1);
    text-decoration: none;
    font-size: 12px;
}